.navbar {
    display: flex;
    justify-content: space-between;
    background-image: rgb(5, 5, 5);
    padding: 20px;
   
  }
  
  .nav-link {
    color: #fff6f6;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .icon {
    display: flex;
  }
  
  .brand-name {
    font-family: 'Rubik Beastly', cursive;
    font-size: 32px;
    color: gold;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-link {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .icon {
      flex-direction: row;
      margin-top: 10px;
    }
  }
  .bg{
    color: red;
    background-color: yellow;
    border-radius: 5rem;
    
  }
  